.hero {
  color: white;
  text-align: center;
  padding: 90px;
  padding-bottom: 45px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 30%, #282c33 0%);
}

@media (max-width: 600px) {
  .hero {
    padding: 64px 32px;
    padding-bottom: 32px;
  }
}

.hero h1 {
  color: #09d874;
}

.hero p {
  color: white;
  font-weight: 300;
  font-size: 1.25em;
}

.Spreadsheet {
  width: 40em;
  max-width: 100%;
  background: white;
  margin: auto;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
  color: black;
}

.features {
  max-width: 960px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.features > div {
  width: 12em;
  max-width: 100%;
  margin-right: 40px;
}

.features > div:last-child {
  margin-right: 0;
}

.features h3 {
  font-weight: 300;
}

@media (max-width: 820px) {
  .features > div {
    flex-basis: 16em;
  }
}
