header {
  background: #1f2229;
  color: white;
  padding: 16px calc((100% - 960px) / 2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1000px) {
  header {
    padding: 16px;
  }
}

header a {
  color: inherit;
  text-decoration: none;
}

header .title {
  color: #09d874;
}

header nav {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  margin: 0;
}

header nav ul li {
  margin: 0;
}
